<?xml version="1.0" encoding="utf-8" ?>
<!-- 
Purpose:

This include file would override Insert button behavior for WFFM (Web Forms for Marketeers).
It would hide or disable it, depending on the presence of the form in current item in device, described in WFFM.Customization.config

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <processMessage>
        <!-- 
        Following pipeline is designed for processing of AllFields token
        And would replace AllFields token by all fields of a form, except secure once (captcha, password, credit cards) as they are not stored visibly, and, actually, is not needed
        -->
        <processor patch:before="*[@method='ExpandLinks']" type="Sitecore.WFFM.Customization.Forms.Pipelines.ProcessMessage, Sitecore.WFFM.Customization" method="ExpandAllFieldsToken"/>
      </processMessage>
    </pipelines>
  </sitecore>
</configuration>