<?xml version="1.0" encoding="utf-8" ?>
<!-- 
Purpose:

This include file would provide generic settings for WFFM.Cusomization module

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  WFFM Customization Sitecore Device GUID
            If set, code would try to parse this device in Sitecore layouts in order to retrieve Form renderer.
            If not set, would default to {FE5D7FDF-89C0-4D99-9AA3-B5FBD009C9F3}, which is representing Default device
            -->
      <setting name="WFFM.Customization.SitecoreDeviceGUID" value="" />
      <!--  WFFM Customization Form Renderer GUID
            If set, code would try to use this form renderer guid in order to retrieve assigned form.
            If not set, would default to {6D3B4E7D-FEF8-4110-804A-B56605688830}, which is representing default Form rendering
            -->
      <setting name="WFFM.Customization.FormRendererGUID" value="" />
    </settings>
  </sitecore>
</configuration>