<?xml version="1.0" encoding="utf-8" ?>
<!-- 
Purpose:

This include file would override Insert button behavior for WFFM (Web Forms for Marketeers).
It would hide or disable it, depending on the presence of the form in current item in device, described in WFFM.Customization.config

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <!-- This command is command called for WFFM edit button -->
      <command patch:instead="*[@name='forms:insert']" name="forms:insert" type="Sitecore.WFFM.Customization.Buttons.InsertButton.Command.InsertFormButton, Sitecore.WFFM.Customization"/>
    </commands>
  </sitecore>
</configuration>