<?xml version="1.0" encoding="utf-8" ?>
<!-- 
Purpose:

This include file would enable Edit button for WFFM (Web Forms for Marketeers).

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <!-- This command is command called for WFFM edit button -->
      <command name="custom:forms:edit" type="Sitecore.WFFM.Customization.Buttons.EditButton.Command.EditFormButton, Sitecore.WFFM.Customization"/>
    </commands>
  </sitecore>
</configuration>